@import url('../../style.scss');

.main-container {
    width: 100%;
    height: 100%;

    background-color: #000000;

    @media (min-width: 740px) {
        background-image: url("../assets/images/backgroundImg.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }
}